@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<EditForm Model=
<div>
    <Label>Foobar</Label>
    <InputText id="test" @bind-value></InputText>
</div>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
